{% extends 'base.html' %}

{% block content %}
<h2>Hello {{ user.username }} please ask your question</h2>

<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.questionID(value=None, style='display:none') }}
            {{ form.post(place_holder='type your blog', style="width:100%") }}
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock content %}